@font-face {
  font-family: 'Blockstepped';
  src: local('Blockstepped')
}

h1 {
  margin: 20px;
}

h2 {
  width: 100%;
}

h3 {
  margin: 20px;
}

.digitL{
  font-family: 'Black Ops One', cursive;
}


